$PRIMARY_FONT_COLOR: #f4f4f4;
$PRIMARY_BORDER_COLOR: #f4f4f4;

$PRIORITY_HIGH: #dc0000;
$PRIORITY_MEDIUM: #fd8c00;
$PRIORITY_LOW: #fdc500;
$PRIORITY_NONE: #8C8C8C;

$PRIMARY_WHITE: #ffffff;

$SECONDARY_BLUE: #30588c;
$SECONDARY_GREY: #959595;

$LINK_DEFAULT: #3D8AFF;
$LINK_HOVER_FOCUS: #0F6DFF;
$LINK_ACTIVE: #6BA5FF;

$MENU_WIDTH: 320px;
$MENU_TRANSITION_SPEED: 200ms;
$MENU_ACTIVE_COLOR: #5aaafa;

$COLOR_FONT_MAIN: #FFFFFF;
$COLOR_FONT_SECONDARY: #A4A4A4;
$COLOR_FONT_SUB: #C6C6C6;

$COLOR_GRAY_100: #171717;
$COLOR_GRAY_95: #222222;
$COLOR_GRAY_90: #282828;
$COLOR_GRAY_85: #262626;
$COLOR_GRAY_80: #3d3d3d;
$COLOR_GRAY_70: #565656;
$COLOR_GRAY_60: #6f6f6f;
$COLOR_GRAY_50: #8c8c8c;
$COLOR_GRAY_40: #a4a4a4;
$COLOR_GRAY_20: #dcdcdc;
$COLOR_GRAY_10: #f3f3f3;

$COLOR_BLUE_60: #0F62FE;
$COLOR_BLUE_40: #6EA6FF;
