.input-cont {
    margin: 1rem 0px;

    .bx--tooltip__label {
        top: -2rem;
        position: relative;
        left: 85%;
    }

    .bx--tooltip__trigger svg {
        fill: #f4f4f4;
    }

    .input-message--invalid {
        color: red;
        font-size: 12px;
        margin: 5px;
    }

    input:focus{
        outline: none;
        border-color: #ebebeb;
    }
}