.alert-notification {
    margin: 1rem auto;
    max-width: 48rem;
    background: #f3f3f3;    
    color: black;
}

.bx--inline-notification__close-button .bx--inline-notification__close-icon {
    fill: black;
}