.bx--data-table th {
    color: #fff;
    background-color: #5c5c5c;
}

.bx--data-table td {            
    color: #9c9c9c;
    background: #3d3d3d;
    border-top: 1px solid #3d3d3d;
    border-bottom: 1px solid #4c4c4c;
    font-size: 13px;
}