.tandc-cont {
    p {
        margin: 10px 50px 10px 10px;
        font-size: 14px;
        color:#f3f3f3;
    }

    .checkbox-cont {
        margin-top: 2rem;

        .bx--checkbox-label:before {
            border: 1px solid #f3f3f3;
        }
    }
    
}